# Ignore node_modules directory
node_modules

# Ignore log files
*.log

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore development files
.vscode/
*.md
*.config.js
*.config.ts
*.map
*.tsbuildinfo
